modules = ["nodejs-20", "python-3.11"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "dev-server"

[[workflows.workflow]]
name = "dev-server"
author = "agent"

[workflows.workflow.metadata]
outputType = "vnc"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"

[[workflows.workflow]]
name = "Systems"
mode = "sequential"
author = 52806342

[[workflows.workflow.tasks]]
task = "shell.exec"
args = 'g++ main.cpp bootloader/boot.cpp linux_kernel/kernel_main.cpp \ services/recovery.cpp runtime/app_loader.cpp apps/example_app.cpp \ -o os_entry `sdl2-config --cflags --libs`'

[agent]
expertMode = true

[nix]
packages = ["wget"]
channel = "stable-25_05"
