modules = ["nodejs-20", "python-3.11"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "routing-dashboard"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "vcr-view-main"

[[workflows.workflow]]
name = "Systems"
mode = "sequential"
author = 52806342

[[workflows.workflow.tasks]]
task = "shell.exec"
args = ""

[[workflows.workflow]]
name = "routing-dashboard"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python dashboard/app.py"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow]]
name = "vcr-view-main"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "./os_entry"

[workflows.workflow.metadata]
outputType = "vnc"

[agent]
expertMode = true

[nix]
packages = ["imagemagickBig", "sox", "tcpdump", "wget", "wireshark"]
channel = "stable-25_05"

[[ports]]
localPort = 5000
externalPort = 80
